page-home{
    

}

ion-grid {
    height: 100%;
    color: #fff;
    text-align: right;
    
    ion-content{
        background:black;
    }
    
    ion-row {
      height: 33.33%;
    }
  }
  
  

ion-col{
    height: 50px !important; 
}

ion-grid {
    height: 50%;
  }

  ion-button{
      color: #fff;
  }

  

  

  
