<ion-header>
  <ion-toolbar>
    <ion-title>
      QPI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="masters">
  <ion-grid>
    <ion-row wrap>
      <ion-col size-xs="12" style="background-color:black"><ion-textarea  value="{{operation_input}}"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-xs="12" style="background-color:grey"><ion-input value="{{formula_output}}"  ></ion-input></ion-col>
      </ion-row>
    <ion-row>
      <ion-col style="background-color:red"><ion-button (click)="addGrade('A')" expand="full">A</ion-button></ion-col>
      <ion-col style="background-color:blue"><ion-button (click)="addGrade('B+')" expand="full">B+</ion-button></ion-col>
      <ion-col style="background-color:yellow"><ion-button (click)="addGrade('B')" expand="full">B</ion-button></ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="background-color:blue"><ion-button (click)="addGrade('C+')" expand="full">C+</ion-button></ion-col>
        <ion-col style="background-color:yellow"><ion-button (click)="addGrade('C')" expand="full">C</ion-button></ion-col>
        <ion-col style="background-color:red"><ion-button (click)="addGrade('D')" expand="full">D</ion-button></ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="background-color:yellow"><ion-button (click)="addGrade('F')" expand="full">F/FD</ion-button></ion-col>
        <ion-col style="background-color:red"><ion-button (click)="addGrade('clr')" expand="full">clr</ion-button></ion-col>
        <ion-col style="background-color:blue"><ion-button (click)="addGrade('=')" expand="full">=</ion-button></ion-col>
      </ion-row>
  </ion-grid>
  
    
</ion-content>

    
  